<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <% if (html.title){ %>
      <title><%= html.title %></title>
    <% } else { %>
      <title>Event Management System</title>
    <% }%>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link<% if (html.page == 'Home'){ %> active<% } %>" href="/">Home</a>
            <a class="nav-item nav-link<% if (html.page == 'Search'){ %> active<% } %>" href="/Event/search">Search</a>
            <% if(req.session.userRole === 'student') { %>
              <a class="nav-item nav-link<% if (html.page == 'MyEvents'){ %> active<% } %>" href="/Event/myEvents">My Registered Events</a>
            <% } %>
            
            <% if(req.session.userRole === 'admin') { %>
              <a class="nav-item nav-link<% if (html.page == 'Create'){ %> active<% } %>" href="/Event/create">Create</a>
              <a class="nav-item nav-link<% if (html.page == 'Admin'){ %> active<% } %>" href="/Event/admin">Admin</a>
            <% } %>
            
          </div>
          
          
          <div class="navbar-nav">
            <% if(!req.session.username){ %>
              <a class="nav-item nav-link" href="/User/login">Login</a>
            <% } else { %>
              <span class="navbar-text">Hi, <%= req.session.username %></span>
              <a class="nav-item nav-link" href="/User/logout">Logout</a>
            <% } %>
          <div>
        </div>
      </nav>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Event Management System</h1>
          <p class="lead">HKBU Event Management System is a web-based system for department and student societies
              to broadcast events and activities as well as registration.</p>
        </div>
      </div>
    </div>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <% if (html.page == 'Create'){ %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
      <script type="text/javascript">
        $(function () {
          $("#date").datepicker({
            format: "yyyy-mm-dd"
          });
        });
      </script>
    <% } %>

    <% if (html.page == 'Update'){ %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
      <script type="text/javascript">
        $(function () {
          $("#date").datepicker({
            format: "yyyy-mm-dd"
          });
          if(<%= event.highlighted %>){
            $("#highlighted").attr("checked", true);
          }
          $("#organizer").val("<%= event.organizer %>");
          $("#venue").val("<%= event.venue %>");
        });
      </script>
    <% } %>

    <% if (html.page == 'Search'){ %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
      <script type="text/javascript">
        $(function () {
          $("#startDate").datepicker({
            format: "yyyy-mm-dd"
          });
          $("#endDate").datepicker({
            format: "yyyy-mm-dd"
          });
          $("#eventName").val('<%= pageCond.eventName %>');
          $("#organizer").val('<%= pageCond.organizer %>');
          $("#startDate").val('<%= pageCond.startDate %>');
          $("#endDate").val('<%= pageCond.endDate %>');
          $("#venue").val('<%= pageCond.venue %>');
        });
      </script>
    <% } %>

    <% if(html.page == 'Details') {
        if(req.session.userRole === 'student') {
    
    %>
    <script type="text/javascript">
      $(function () {
        $('#btnBook').click(async function(){
          var respond = await fetch('/Event/book/<%= event.id %>', {method: 'POST', credentials: 'same-origin'});
          if(respond.status == 200) {
            alert('Success!');
            location.reload();
          } else {
            alert('Booking failure');
          }
        });
        $('#btnCancel').click(async function(){
          var respond = await fetch('/Event/book/<%= event.id %>', {method: 'DELETE', credentials: 'same-origin'});
          if(respond.status == 200) {
            alert('Success!');
            location.reload();
          } else {
            alert('Cancellation failure');
          }
        });
      });
    </script>
    <%  }
       } %>
  </body>
</html>