<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <div class="container" style="margin-bottom: 5rem;">
      <form action="/Event/update/<%= event.id %>" method="POST">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="name">Event name:</label>
                <input type="text" class="form-control" id="name" name="Event[eventName]" value="<%= event.eventName %>">
            </div>
            <div class="form-group">
                <label for="shortDesc">Short Description:</label>
                <textarea class="form-control" id="shortDesc" name="Event[shortDesc]" rows="5"><%= event.shortDesc %></textarea> 
            </div>
            <div class="form-group">
                <label for="fullDesc">Full Description:</label>
                <textarea class="form-control" id="fullDesc" name="Event[fullDesc]" rows="12"><%= event.fullDesc %></textarea> 
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
                <label for="imgURL">Image URL:</label>
                <input type="text" class="form-control" id="imgURL" name="Event[imgURL]" value="<%= event.imgURL %>">
            </div>
            <div class="form-group">
                <label for="organizer">Organizer:</label>
                <select class="form-control" name="Event[organizer]" id="organizer">
                    <option>Government and International Stuides</option>
                    <option>Student Organization</option>
                    <option>School Departments</option>
                </select>
            </div>
            <div class="form-group">
                <label for="date">Event Date:</label>
                <input type="text" class="form-control" id="date" name="Event[eventDate]" value="<%= event.eventDate %>">
            </div>
            <div class="form-group">
                <label for="time">Time:</label>
                <input type="text" class="form-control" id="time" name="Event[time]" value="<%= event.time %>">
            </div>
            <div class="form-group">
                <label for="venue">Venue:</label>
                <select class="form-control" name="Event[venue]" id="venue">
                    <option>SWT 501</option>
                    <option>SWT 502</option>
                    <option>SWT 503</option>
                    <option>SWT 504</option>
                    <option>SWT 505</option>
                </select>
            </div>
            <div class="form-group">
                <label for="quota">Quota:</label>
                <input type="number" class="form-control" id="quota" name="Event[quota]" value="<%= event.quota %>">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="highlighted" name="Event[highlighted]" value="true">
                <label class="form-check-label" for="highlighted">Highlighted Event</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      </form>
      <form action="/Event/delete/<%= event.id %>" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>